

html {
    font-size: 16px;
}

body {
    font-family: arial;
    background-color: dodgerblue;
    
}

header {
    text-align: center;
    color: white;
    font-size: 1.4rem;
}

section {
    background-color: white;
    border-radius: 10px;
    width: 500px;
    margin:  auto;
    text-align: center;
    box-shadow: 5px 5px 10px black;
}

div p {
    font-weight: 600;
    
}

div {
    padding: 10px;
}

div img {
    border-radius: 50%;
    width: 180px;
    height: 180px;
}

footer {
    color: white;
    font-style: italic;
    text-align: center;
    font-weight: 600;
}





@media (max-width: 768px){
    section {
        width: 400px;
    }
}

@media (mxa-width: 425px){
    section {
        width: 360px;
    }
}

@media (max-width: 375px){
    section {
        width: 320px;
    }
 
   
}